<ul>Name of Manufacturer:
<%= @manufacturer.name %></ul>
<ul>Origin:
<%= @manufacturer.country %></ul>
<% @cars.each do |car| %>
<li><%= car.color.capitalize %> <%= link_to car.make.capitalize, car %> <%= car.year %></li>
<% end %>
